@{
    ViewData["Title"] = "Create / Edit Expenses";
}
@model SpendSmart.Models.Expense

<div class="text-center">
    <h1 class="dispaly-4"> Create or Edit Expense</h1>
</div>

<form asp-action="CreateEditExpenseForm" asp-controller="Home">
    <label>Id</label>
    <input class="form-control" type="number" placeholder="0" asp-for="Id" />

    <label class=mt-4>Value €</label>
    <input class="form-control" type="number" placeholder="0" asp-for="Value" step="0.01" />

    <label class="mt-4">Description</label>
    <input class="form-control" type="text" placeholder="Add a description" asp-for="Description" />

    <button class="btn btn-primary mt-4" type="submit">OK</button>
</form>